<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat da Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/index.js"></script>
	
		
	</head>
	<body>
	{{!-- <body data-spy="scroll" data-target=".navbar" data-offset="50"> --}}
		<!-- Image and text -->

	<nav class="navbar navbar-light bg-light top-nav">				

		<a class="navbar-brand" href="#" class="d-inline-block" alt="">
		<img src="/assets/images/small_logo.png"  alt=""/>
		</a>
		<div class="collapse navbar-collapse" id="navbarText">
		<span class="navbar-text" style="color: #97cc46; margin-right:0; font-size:28px;">
		BURGER
		</span>
		<span class="navbar-text" style="margin-left: 0; font-size:28px;"">
		MI
		</span>
  </div>

	</nav>

		{{{ body }}}
	</body>


</html>